---
layout: default
lang: en
tref: index
---

<section id="menus" class="clearfix">
  <div class="wrapper col-sm-6 col-sm-push-6">
  {% assign menus = site.data.menus | where:"lang",page.lang %}
  {% for menu in menus %}
    {% include menu.html item=menu %}
  {% endfor %}
  </div>
</section>

<section id="instalaciones" class="text-center clearfix">
  <div class="wrapper col-sm-6">
    <div class="editable">
      <p>A Basque cider bar that maintains its genuine atmosphere, the aroma of cider and takes care in preparing the best meats of the land.</p>
      <p>In a space, with capacity for 200 diners, characterised by big barrels of natural cider and long tables, which invites one to share, one can awaken their appetite through some chorizos in cider or some of the home-made tortillas.</p>
      <p>Its different forms of preparing cod make it an unmissable event for your taste buds, while its grilled steak is a genuine delicacy.</p>
      <p>All our meats are of a very high quality.</p>
      <p>High class gourmet menus. It is also a good place for your most important group events. So why wait to book?</p>
    </div>
    {% include reservar.html %}
</div></section>

<section id="contacto" class="dark clearfix">
  <div class="wrapper col-sm-6">
    {% include vcard.html %}
  </div>
  <div class="wrapper col-sm-6">
  {% include mapa.html %}
  </div>
</section>

<section id="social" class="light clearfix">
  <div class="wrapper col-sm-6">
    {% include instagram-feed.html %}
  </div>
  <div class="wrapper col-sm-6">
    {% include foursquare-tips.html %}
  </div>
</section>
