---
layout: default
---

<section id="menus" class="clearfix">
  {% assign menus = site.data.menus %}
  {% for menu in menus %}
    {% include menu.html item=menu %}
  {% endfor %}
</section>

<section id="instalaciones" class="text-center clearfix">
  <div class="col-sm-6">
  <header>
  	<h1>Intalaciones</h1>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section id="contacto" class="dark">
  {% include vcard.html %}
  {% include mapa.html %}
</section>
