---
layout: default
lang: es
tref: index
---

<section id="menus" class="clearfix">
  <div class="wrapper col-sm-6 col-sm-push-6">
  {% assign menus = site.data.menus | where:"lang",page.lang %}
  {% for menu in menus %}
    {% include menu.html item=menu %}
  {% endfor %}
  </div>
</section>

<section id="instalaciones" class="text-center clearfix">
  <div class="wrapper col-sm-6">
    <div class="editable"><p>Sidrer&iacute;a vasca que mantiene su atm&oacute;sfera genuina, el perfume de la sidra y el mimo en la preparaci&oacute;n de las mejores carnes de la tierra.</p><p>En un espacio, con capacidad para 200 comensales, caracterizado por los grandes toneles de sidra natural y por las mesas largas, que invita a compartir, uno puede despertar su apetito a trav&eacute;s de unos chorizos a la sidra o alguna de las tortillas de la casa.</p><p>Sus diferentes formas de preparar el bacalao son citas ineludibles para tu paladar, mientras que su chulet&oacute;n a la brasa es una autentica delicatessen.</p><p>Todas nuestras carnes son de una alt&iacute;sima calidad.</p><p>Men&uacute;s gastron&oacute;micos de categor&iacute;a. Adem&aacute;s, es un buen lugar para tus ocasiones de grupo m&aacute;s importantes. &iquest;A qu&eacute; esperas para reservar?</p></div>
    {% include reservar.html %}
</div></section>

<section id="contacto" class="dark clearfix">
  <div class="wrapper col-sm-6">
    {% include vcard.html %}
  </div>
  <div class="wrapper col-sm-6">
  {% include mapa.html %}
  </div>
</section>

<section id="social" class="light clearfix">
  <div class="wrapper col-sm-6">
    {% include instagram-feed.html %}
  </div>
  <div class="wrapper col-sm-6">
    {% include foursquare-tips.html %}
  </div>
</section>
