---
layout: default
lang: es
tref: index
---

<section id="menus" class="clearfix">
  <div class="wrapper col-sm-6 col-sm-push-6">
  {% assign menus = site.data.menus | where:"lang",page.lang %}
  {% for menu in menus %}
    {% include menu.html item=menu %}
  {% endfor %}
  </div>
</section>

<section id="instalaciones" class="text-center clearfix">
  <div class="wrapper col-sm-6">
    <p>Disfrute de nuestros menús en los amplios comedores de los que disponemos con capacidad para XXX personas.</p>
    <p>Sidra al Txotx.</p>
    <p>Todas nuestras carnes son de una altísima calidad de nuestro exclusivo proveedor <a href="http://www.carnicasgoya.com" target="_blank">Cárnicas Goya <img src="/assets/images/logo-goya.png" alt="Cárnicas Goya"></a></p>
    {% include reservar.html %}
  </div>
</section>

<section id="contacto" class="dark clearfix">
  <div class="wrapper col-sm-6">
    {% include vcard.html %}
  </div>
  <div class="wrapper col-sm-6">
  {% include mapa.html %}
  </div>
</section>
