<footer class="site-footer clearfix text-center">
  <p class="lead">{{ site.data.textos[page.lang].siguenos }}</p>
  <ul class="list-inline list-unstyled social-links">
    {% for red in site.data.rrss %}
    <li><a href="{{ red[1] }}"><i class="fa fa-{{ red[0] }}-square"></i></a></li>
    {% endfor %}
    <li><a href="https://www.tripadvisor.es/Restaurant_Review-g1064182-d6704599-Reviews-Sidreria_Sarasola-Astigarraga_Province_of_Guipuzcoa_Basque_Country.html"><img src="{{ /assets/images/trip_logo.jpg }}" alt="Sidrería Sarasola en Tripadvisor"></a></li>
    <li><a href="http://www.eltenedor.es/restaurante/sidreria-sarasola/217411"><img src="{{ /assets/images/eltenedor.jpg }}" alt="Sidrería Sarasola en eltenedor"></a></li>
  </ul>
  <ul class="list-inline list-unstyled">
    <li>&copy; 2016 Sarasola Sagardotegi</li>
    <li><a href="/{% if page.lang != site.lang %}{{ page.lang | append: '/' }}{% endif %}aviso-legal">{{ site.data.textos[page.lang].aviso-legal }}</a></li>
  </ul>
</footer>
