<footer class="site-footer clearfix text-center">
  <ul class="list-inline list-unstyled">
    <li><a href="https://www.tripadvisor.es/Restaurant_Review-g1064182-d6704599-Reviews-Sidreria_Sarasola-Astigarraga_Province_of_Guipuzcoa_Basque_Country.html" target="_blank"><img src="{{ "/assets/images/trip_logo.jpg" }}" alt="Sidrería Sarasola en Tripadvisor" class="img-responsive"></a></li>
    <!--<li><a href="http://www.eltenedor.es/restaurante/sidreria-sarasola/217411" target="_blank"><img src="{{ "/assets/images/eltenedor.jpg" }}" alt="Sidrería Sarasola en eltenedor" class="img-responsive"></a></li>-->
  </ul>
  <p class="lead">{{ site.data.textos[page.lang].siguenos }}</p>
  <ul class="list-inline list-unstyled social-links">
    {% for red in site.data.rrss %}
    <li><a href="{{ red[1] }}" target="_blank"><i class="fa fa-{{ red[0] }}{% if red[0] == "facebook" %}-square{% endif %}"></i></a></li>
    {% endfor %}
  </ul>
  <ul class="list-inline list-unstyled">
    {% assign year = site.time | date: "%Y" %}
    <li>&copy; 2016{% if year != '2016' %}-{{ year }}{% endif %} Sarasola Sagardotegi</li>
    <li><a href="/{% if page.lang != site.lang %}{{ page.lang | append: '/' }}{% endif %}aviso-legal">{{ site.data.textos[page.lang].aviso-legal }}</a></li>
  </ul>
</footer>
