<footer class="site-footer clearfix text-center">
  <p class="lead">{{ site.data.textos[page.lang].siguenos }}</p>
  <ul class="list-inline list-unstyled social-links">
    {% for red in site.data.rrss %}
    <li><a href="{{ red[1] }}"><i class="fa fa-{{ red[0] }}-square"></i></a></li>
    {% endfor %}
  </ul>
  <ul class="list-inline list-unstyled">
    <li>&copy; 2016 Sarasola Sagardotegi</li>
    <li><a href="/aviso-legal">{{ site.data.textos[page.lang].aviso-legal }}</a></li>
  </ul>
</footer>
