{% capture lang %}{{ page.lang | default: site.lang }}/{% endcapture %}
{% assign url = page.url | remove: lang %}

{% if url == '/' %}
<header class="site-header front">
  <h1 class="text-hide text-center">
    <a class="site-title" href="{{ site.baseurl }}/{% if page.lang != site.lang %}{{ page.lang | append: '/' }}{% endif %}">{{ site.title }}</a>
    <img src="/assets/images/logo.png" alt="{{ site.title }}" class="img-responsive">
  </h1>
  <div id="scroll">
    <p>{{ site.data.textos[page.lang].abrimos-todo-el-ano }}<p>
    <a href="#menus"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
  </div>
</header>

{% else %}

<header class="site-header">
  <h1 class="text-center">
    <a href="{{ site.baseurl }}/{% if page.lang != site.lang %}{{ page.lang | append: '/' }}{% endif %}">
      <img src="/assets/images/logo.png" alt="{{ site.title }}" class="img-responsive center-block pull-left">
    </a>
    <span>{{ page.title }}</span>
  </h1>
</header>
{% endif %}
