{% capture lang %}{{ page.lang | default: site.lang }}/{% endcapture %}
{% assign url = page.url | remove: lang %}

{% if url == '/' %}
<header class="site-header front">
  <h1 class="text-hide text-center">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <img src="/assets/images/logo.png" alt="{{ site.title }}" class="img-responsive">
  </h1>
</header>
<div class="well cta-reservar">
  <i class="fa fa-phone">&nbsp;</i>{{ site.data.textos[page.lang].llamar }} <a tel="{{ site.data.vcard.telephone }}"><span itemprop="telephone"> {{ site.data.vcard.telephone }}</span></a>
  <br>
  {{ site.data.textos[page.lang].o }} <a type="button" class="btn btn-default btn-lg" role="button" href="/reservas">{{ site.data.textos[page.lang].mandar-mail }}</a>
  <br>
  {{ site.data.textos[page.lang].reserva-ya }}
</div>

{% else %}

<header class="site-header">
  <h1 class="text-center">
    <a href="{{ site.baseurl }}/">
      <img src="/assets/images/logo.png" alt="{{ site.title }}" class="img-responsive center-block pull-left">
    </a>
    <span>{{ page.title }}</span>
  </h1>
</header>
{% endif %}
