<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1307669668213!2d-1.9497874850533445!3d43.269636185167094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x829531ca9c34c3ab!2sRestaurante+Sarasola!5e0!3m2!1ses!2ses!4v1464000005359" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<!-- Google Map
     ============================================= -->
<!--
<section id="google-map" class="gmap" style="height: 450px; "></section>
<script type="text/javascript">
       $('#google-map').gMap({
         address: 'Astigarraga, Oiarbide Bidea 14',
         maptype: 'ROADMAP',
         zoom: 12,
         markers: [
           {
             address: 'Astigarraga, Oiarbide Bidea 14',
             html: '<strong>Sarasola Sagardotegi</strong><br/>Oiarbide Bidea 14<br>20115 ASTIGARRAGA<br>Tel: +34 943 55 57 46',
             icon: {
               image: "/assets/images/map-icon-red.png",
               iconsize: [32, 39],
               iconanchor: [32,39]
             }
           }
         ],
         doubleclickzoom: false,
         controls: {
           panControl: true,
           zoomControl: true,
           mapTypeControl: true,
           scaleControl: false,
           streetViewControl: false,
           overviewMapControl: false
         }
       });
</script>
-->
