{% assign vcard = site.data.vcard %}
<article itemscope itemtype="http://schma.org/Restaurant" class="vcard">
  <header>
    <h1 itemprop="name">{{ vcard.name}}</h1>
    <img itemprop="logo" src="/assets/images/logo.png" alt="{{ vcard.name }} logo" width="150" height="100">
  </header>


  <div class="address col-md-5 col-md-offset-1">
    
    <h4 class="text-hide">Dirección:</h4>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">{{ vcard.address.streetAddress }}</span>
      <br>
      <span itemprop="postalCode">{{ vcard.address.postalCode }}</span> - <span itemprop="addressLocality">{{ vcard.address.addressLocality }}</span>
      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates" class="text-hide">
        <label>Geo:</label>
          <br>
          Latitud: {{ vcard.geo.latitude }}
          <br>
          Longitude: {{ vcard.geo.longitude }}
          <meta itemprop="latitude" content="{{ vcard.geo.latitude }}" />
          <meta itemprop="longitude" content="{{ vcard.geo.longitude }}" />
      </div>
    </div>

    <label class="text-hide">Teléfono:</label>
    <i class="fa fa-phone" aria-hidden="true"> </i><span itemprop="telephone"> {{ vcard.telephone }}</span>

  </div>

  <div class="horario col-md-5">
    <h4 class="text-hide">Horario:</h4>
    <meta itemprop="openingHours" content="Mo-Sa 11:00-14:30">Mon-Sat 11am - 2:30pm<br>
    <meta itemprop="openingHours" content="Mo-Th 17:00-21:30">Mon-Thu 5pm - 9:30pm<br>
    <meta itemprop="openingHours" content="Fr-Sa 17:00-22:00">Fri-Sat 5pm - 10:00pm
  </div>

  <div class="text-hide">
    <label>Menús:</label><br>
    {% for serve in vcard.servesCuisine %}
    <span itemprop="servesCuisine">{{ serve }}</span>
    {% if forloop.last != true %}, {% endif %}
    {% endfor %}
  </div>

  <div class="text-center">
    <label class="text-hide">Web:</label>
    <a itemprop="url" href="{{ vcard.url }}" class="text-hide">{{ vcard.url }}</a>
    <label class="text-hide">Email:</label>
    <a itemprop="email" href="mailto:{{ vcard.email }}">{{ vcard.email }}</a>
  </div>
</article>
