$negro: #2b2b2a;
$verde: #7ea438;

body {
  background-color: white;
  &.front {
    background-color: $negro;
  }
  a,
  a:hover,
  a:visited,
  a:active,
  a:focus {
    color: $verde;
  }
}
.site-header {
  h1 {
    background-color: rgba($negro, 1);
    span {
      color: white;
    }
  }
  a {
    color: $verde;
  }
  &.front {
    background: url(/assets/images/txuleton.jpg) no-repeat center fixed;
    background-size: cover;
    h1 {
      background-color: rgba($negro, 0.3);
    }
  }
}

#language-switcher {
  background-color: rgba($negro, 0.5);
  li {
    a {
      color: $verde;
    }
    &.active a {
      color: #ddd;
    }
  }
}

.cta-reservar {
	background-color: rgba($verde, 1);
  border: none;
  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    color: $negro;
  }
  .lead {
    color: white;
  }
}

section.dark {
	color: #ddd;
	background-color: rgba($negro, 0.8);
}
section.black {
	color: #ddd;
	background-color: rgba($negro, 1);
}

#menus {
	background: url(/assets/images/botellas-sarasola.jpg) no-repeat center fixed;
  .wrapper {
	  background: url(/assets/images/lauburu.png) no-repeat 50% 3%;
  }
}

#instalaciones {
	background: url(/assets/images/botellas-sarasola-2.jpg) no-repeat center fixed;
  .wrapper {
	  background: url(/assets/images/lauburu.png) no-repeat 50% 3%;
  }
}
#menus,
#instalaciones {
	background-size: cover;
  div.wrapper {
    color: #ddd;
    background-color: rgba($negro, 0.8);
  }
}
#contacto {
  div.wrapper {
    color: #ddd;
    background-color: rgba($negro, 1);
    .vcard {
    }
  }
}

.reservation-form-wrapper {
    background: url(/assets/images/comedor.jpg) center no-repeat;
    background-size: cover;
    
    .reservation-form {
        background-color: white;
    }
}

.site-footer {
  color:#ddd;
  background-color: rgba($negro, 1);
  a {
    color: $verde;
  }
}

#impliedsubmit {
  color: $negro;
}
