$negro: #2b2b2a;
$verde: #7ea438;

body {
  background-color: $negro;
}
.site-header {
  h1 {
    background-color: rgba($negro, 0.3);
  }
  a {
    color: $verde;
  }
}

section.dark {
	color: #ddd;
	background-color: rgba($negro, 0.8);
}

#menus {
	background: url(/assets/images/botellas.jpg) no-repeat center fixed;
}

#instalaciones {
	background: url(/assets/images/barricas.jpg) no-repeat center fixed;
}
#menus,
#instalaciones {
	background-size: cover;
  div.wrapper {
    color: #ddd;
    background-color: rgba($negro, 0.8);
  }
}
#contacto {
  div.wrapper {
    color: #ddd;
    background-color: rgba($negro, 1);
  }
}
