html {
  font-size: 16px;
}
body {
  font-family: "Merriweather",serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Josefin Sans", sans;
  font-weight: 400;
  text-transform: uppercase;
}

.vcard {
  font-family: "Josefin Sans", sans;
}
