html {
  font-size: 16px;
}
body {
  font-family: "Merriweather",serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Josefin Sans", sans;
  font-weight: 400;
  text-transform: uppercase;
}

.site-header {
  h1 {
    span {
      font-size: 1.85rem;
      @media (min-width: 480px) {
        font-size: 3rem;
      }
    }
  }
}

#language-switcher {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.cta-reservar {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  a {
    text-transform: uppercase;
  }
  .lead {
    font-weight: bold;
  }
}

.vcard {
  font-family: "Josefin Sans", sans;
  h1 {
    text-align: center;
  }
  div {
    //font-size: 0.90rem;
  }
}

.site-footer {
  font-size: 0.85rem;
  .lead {
    font-family: "Josefin Sans", sans;
    font-style: italic;
  }
  .social-links {
    font-size: 1.5rem;
  }
}
