---
layout: default
lang: eu
tref: index
---

<section id="menus" class="clearfix">
  <div class="wrapper col-sm-6 col-sm-push-6">
  {% assign menus = site.data.menus | where:"lang",page.lang %}
  {% for menu in menus %}
    {% include menu.html item=menu %}
  {% endfor %}
  {% include reservar.html %}
  </div>
</section>

<section id="instalaciones" class="text-center clearfix">
  <div class="wrapper col-sm-6">
    <div>
      <p>Euskal sagardotegi honek atmosfera purua, sagardoaren lurrina eta lurraldeko haragirik onenak mimo osoz prestatzeko joera mantentzen ditu.</p>
      <p>200 mahaikiderentzako tokia eta sagardo naturaleko upel handiak eta mahai luzeak dituen eremu honek partekatzera gonbit egiten du. Bertan, sagardora egindako txorizoekin edo etxeko tortillekin edonori pizten zaio jangura.</p>
      <p>Zure ahosabaiak ezingo die muzin egin bakailaoa prestatzeko era ezberdinei, eta txingarretan erretako txuletoia izugarrizko delicatessena da.</p>
      <p>Gure haragi guztiak goi kalitatekoak dira.</>
      <p>Primerako menu gastronomikoak. Gainera, toki paregabea da taldean biltzeko ospakizun garrantzitsuenetan. Zeren zain zaude erreserbatzeko?</p>
    </div>
    {% include reservar.html %}
  </div>
</section>

<section id="contacto" class="dark clearfix">
  <div class="wrapper col-sm-6">
    {% include vcard.html %}
  </div>
  <div class="wrapper col-sm-6">
  {% include mapa.html %}
  </div>
</section>

<section id="social" class="light clearfix">
  <div class="wrapper col-sm-6">
    {% include instagram-feed.html %}
  </div>
  <div class="wrapper col-sm-6">
    {% include foursquare-tips.html %}
  </div>
</section>
