---
layout: default
lang: fr
tref: index
---

<section id="menus" class="clearfix">
  <div class="wrapper col-sm-6 col-sm-push-6">
  {% assign menus = site.data.menus | where:"lang",page.lang %}
  {% for menu in menus %}
    {% include menu.html item=menu %}
  {% endfor %}
  {% include servicio-autobuses.html %}
  {% include reservar.html %}
  </div>
</section>

<section id="instalaciones" class="text-center clearfix">
  <div class="wrapper col-sm-6">
    <div>
      <p>Cidrerie basque à l’ambiance authentique et au bon parfum de cidre où l’on prépare avec amour les meilleures viandes du pays.</p>
      <p>Dans cet espace avec une capacité d’accueil pour 200 convives, où trônent les grands tonneaux de cidre naturel et les longues tables qui invitent au partage d’un bon repas, quoi de mieux pour se mettre en appétit que de déguster des chorizos au cidre ou quelques-unes des omelettes maison.</p>
      <p>Les différentes formes de préparation de la morue sont un rendez-vous incontournable pour votre palais ; la côte de bœuf braisée, quant à elle, est un véritable régal. </p>
      <p>Toutes nos viandes sont d’excellente qualité.</p>
      <p>Des menus gastronomiques de grande qualité. C’est aussi l’endroit idéal pour l’organisation de grandes occasions de groupes plus grands. N’attendez plus pour réserver !</p>
    </div>
    {% include reservar.html %}
  </div>
</section>

<section id="contacto" class="dark clearfix">
  <div class="wrapper col-sm-6">
    {% include vcard.html %}
  </div>
  <div class="wrapper col-sm-6">
  {% include mapa.html %}
  </div>
</section>

<section id="social" class="light clearfix">
  <div class="wrapper col-sm-6">
    {% include instagram-feed.html %}
  </div>
  <div class="wrapper col-sm-6">
    {% include foursquare-tips.html %}
  </div>
</section>
