<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

  {% include head.html %}

  {% capture lang %}{{ page.lang | default: site.lang }}/{% endcapture %}
  {% assign url = page.url | remove: lang %}
  <body {% if url == '/' %}class="front"{% endif %}>

    {% include header.html %}
    {% include language-switcher.html %}

    <div class="content-wrapper">
      <div class="container-fluid">
        <div clas="row">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}

  </body>

</html>
